.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  text-align: left;
  border: 2px solid rgb(39, 39, 39);
  padding: 20px;
  width: 300px;
  border-radius:12px
}

.form-group {
  margin-bottom: 15px;
  
}

label {
  display: block;
  margin-bottom: 2px;
  font-weight: 600;
}

.error {
  color: rgb(253, 0, 0);
  font-size: 12px;
  margin-top: 5px;
}

button {
  margin-top: 10px;
  border-radius: 4px;
  font-size: medium; 
  font-weight: 800; 
  padding: 10px 55px;
  background-color: #000000; 
  color: white; 
  border: none;
  cursor: pointer;
}


h1 {
  font-size: 24px; 
  margin-bottom: 20px; 
  color : rgb(39, 39, 39);
}

